{% extends "layout.html" %}
{% block body %}
    <ul>
        {% for entry in entries %}
        <li><h2>{{ entry.text }}</h2>{{ entry.count }}
            <a href="{{ url_for('plus_one', key=entry.text)}}">+1</a>
            <a href="{{ url_for('delete', key=entry.text)}}">Delete</a>
        {% endfor %}
    </ul>
    <p>
    <a href="{{ url_for('reset') }}" method=get>reset</a>
    <div>
        <form action="{{url_for('new_metric')}}" method=post> 
            <input type=text name=metric />
            <input type=submit value=Send />
        </form>
    </div>
{% endblock %}

